html, body {
  margin: 0 auto;
}

main{
  height: 225px;
  width: 360px;
  background: linear-gradient(45deg, 
    #1F4C27 0% 10%, 
    #4C4D51 10% 20%,
    #1F4C27 20% 30%, 
    #4C4D51 30% 40%,
    #1F4C27 40% 50%, 
    #4C4D51 50% 60%,
    #1F4C27 60% 70%, 
    #4C4D51 70% 80%,
    #1F4C27 80% 90%, 
    #4C4D51 90% 100%);
    margin: 0;
}

#santa-head{
  width: 88px;
  height: 100px;
  background: #FED8B2;
  position: fixed;
  left: 150px;
  top: 66px;
  border-radius: 20px;;
}

#eyes-container {
  display: flex;
  background: blue;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.eye {
  background: #294444;
  width: 14px;
  height: 10px;
  border-radius: 50%;
}

#mustache {
  display: flex;
  background: orange;
  width: 130px;
  height: 20px;
  left: -30px;
  position: relative;
}


#main-hat {
  height: 34px;
  width: 108px;
  background: #FF2500;
  border-top-left-radius: 54px;
  z-index: 2;
  position: fixed;
  top: 32px;
  left: 140px;
}

#back-hat {
  background: #8A0F00;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: fixed;
  top: 32px;
  left: 232px;
}

#hat-ball {
  background: #fff;
  border-radius: 50%;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 1;
  top: 48px;
  left: 240px;
}
