/*
Link to Figma: https://scrimba.com/links/santa-saas-figma
*/
* {
  --red: rgba(143, 0, 2, 0.83);
  --light-red: #FFF2F2;
  --dark-red: #470000;
  --color-light: #fff;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", Arial, Helvetica, sans-serif;
  color: var(--color-light);
}

body {
  background-color: var(--red);
}

nav {
  margin: 40px 100px;
  display: flex;
}

main {
  margin: 0 auto;
  text-align: center;
}
ul, li {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  padding: 10px 30px;
  border-radius: 10px;
}




h1 {
  font-size: 81px;
}
h2 {
  color: var(--dark-red);
  font-size: 36px
}

h3 {
  color: #343434;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  font-size: 17px;
  margin-bottom: 20px;
}

.dashboard {
  border-radius: 20px;
  width: 80vw;
}

.dashboard-container {
  margin: 0 auto 50px;;
  text-align: center;

}

.btn-dark{
  color: var(--color-light);
  background: transparent;
  border: 1px solid var(--color-light)
}

.btn-light {
  color: var(--red);
  background: var(--color-light);
  border: 1px solid var(--red)
}

.intro-text {
  margin: 50px auto;
  text-align: center;
  padding-bottom: 50px;
}

.sub-head {
  font-size: 14px;
  color: #969696;
}

#customer img {
  width: 100px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: 100px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.logo-text {
  color: var(--color-light);
}

.gc-logo {
  padding: 10px;
}

.features {
  display: flex;
  gap: 20px;
  padding: 50px 150px;
}

.feature-card {
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  padding: 40px;
  text-align: left;
}

.feature-card > p {
  font-size: 14px;
  color: #969696;
}

.feature-card > a {
  font-size: 16px;
  text-decoration: underline;
  color: var(--dark-red)
}

#solution1 > .more {
  color: #343434;
  font-weight: 700;
}

#solution {
  display: flex;
  background: #FFF2F2
}

#solution1 > h2 {
  font-size: 52px;
}

#solution1, #solution2 {
  flex: 1;
}

#solution1 {
  text-align: left;
  padding: 80px;
}

#solution1 > p {
  color: #969696;
}

#solution2 {
  width: 630px;
}
