/*
Link to Figma: https://scrimba.com/links/santa-saas-figma
*/
* {
  --red: rgb(164, 48, 50);
  --light-red: #FFF2F2;
  --dark-red: #470000;
  --color-light: #fff;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", Arial, Helvetica, sans-serif;
  color: var(--color-light);
}

body {
  background-color: var(--red);
}

nav {
  background-color: var(--red);
  margin: 40px 100px;
  display: flex;
}

ul, li {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  padding: 10px 30px;
  border-radius: 10px;
}

.btn-dark{
  color: var(--color-light);
  background: var(--red);
  border: 1px solid var(--color-light)
}

.btn-light {
  color: var(--red);
  background: var(--color-light);
  border: 1px solid var(--red)
}

h1 {
  font-size: 81px;
}

p {
  font-size: 17px;
  margin-bottom: 20px;
}

.intro-text {
  margin: 50px auto;
  text-align: center;
}

#customer img {
  width: 100px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: 100px;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.logo-text {
  color: var(--color-light);
}

.gc-logo {
  padding: 10px;
}